{% extends 'index.html' %}
{%block content%}
{%load static%}
<section class="about" id="about">
    <h2 class="heading">About <span>Me</span> </h2>
    <div class="about-img">
        <img src="{%static 'assets123\css\about.png'%}" alt="">
        <span class="circle-spin"></span>
    </div>
    <div class="about-content">
        <h3>Developer</h3>
        <p>I am Palagani Gowri Shankar, currently in my 5th semester of a B.Tech program in Electronics and Communication Engineering at the National Institute of Technology, Raipur. My current cumulative performance index (CPI) stands at an impressive 8.98. I possess strong coding skills in C++, Python, and C, and I am proficient in web development technologies such as HTML, CSS, and the Django framework. Additionally, I am known for my quick learning abilities and excel in interpersonal communication.</p>
        
    </div>
</section>
{% endblock %}