{% extends 'index.html' %}
{%block content%}
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>
    <form action="submit_form" method="post">
        {% csrf_token %}
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Full Name" name="name" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="email" placeholder="Email" name="email" required>
                <span class="focus"></span>
            </div>
        </div>
        <div class="input-box">
            <div class="input-field">
                <input type="number" placeholder="Mobile Number" name="mobile" requried>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="text" placeholder="Subject" name="subject">
                <span class="focus"></span>
            </div>
        </div>
    
    
        <div class="textarea-field">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
            <span class="focus"></span>
        </div>
    
        <div class="button-box btns">
            <button type="submit" class="btn">Submit</button>
        </div>
    
    </form>
    </section>
{%endblock%}