{% extends 'base.html' %}

{%block content %}

<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span></h2>
    <div class="education-row">
        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="education-column">
            <h3 class="title">Education</h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>2017-2018</div>
                        <h3>Master-Degree -- Univerity</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea rem rerum illo quo alias deleniti dolor debitis nam atque. Praesentium culpa consequuntur asperiores molestiae pariatur ullam aperiam distinctio maiores!</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="button-box btns">
        <a href="" class="btn">Read More</a>
    </div>
</section>
{%endblock%}