{% extends 'index.html' %}

{%block content %}

<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span></h2>
    <div class="education-row">
        <div class="education-column">
            <h3 class="title">Education</h3>
            <div class="education-box">
                {% for journey in journey%}
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>{{journey.from_date}} - {{journey.to_date}}</div>
                        <h3>{{journey.Univerity}}</h3>
                        <p>{{journey.description}}</p>
                        <br>
                        <p>{{journey.extra}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>

        <div class="education-column">
            <h3 class="title">Experiance</h3>

            <div class="education-box">
                {% for journey in journey1%}
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class='bx bxs-calendar'></i>{{journey.from_date}} - {{journey.to_date}}</div>
                        <h3>{{journey.Univerity}}</h3>
                        <p>{{journey.description}}</p>
                        <br>
                        <p>{{journey.extra}}</p>
                    </div>
                </div>
                {%endfor%}
             

            </div>
        </div>
    </div>

    <div class="button-box btns">
        <a href="" class="btn">Read More</a>
    </div>
</section>
{%endblock%}