{% extends "base.html" %}
{% block content %}
<section class="skills" id="skills">
    <h1 class="heading">My <span>Skills</span></h1>
    
    
    <div class="skills-row">
        <div class="skills-column">
            <h3 class="title">Coding Skills</h3>
    
            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>HTML <span>98%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>58%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>90%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>68%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="skills-column">
            <h3 class="title">Soft Skills</h3>
    
            <div class="skills-box">
                <div class="skills-content">
                    <div class="progress">
                        <h3>HTML <span>98%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>58%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>90%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                    <div class="progress">
                        <h3>HTML <span>68%</span></h3>
                        <div class="bar"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    
    <center> <div class="button-box btns">
    <a href="" class="btn">Read More</a>
    </div></center>
    
    </section>
    
{%endblock%}